In [1]:
import pandas as pd

In [45]:
df = pd.read_excel('data rfid2.xlsx')

In [46]:
print(df)

          Id       Data_Gambar
0  219040787  Adinda Panca.jpg
1  188500083   Irgi Zanuar.jpg
2  218743523               NaN
3  189595923               NaN

In [55]:
serialpasien = int(input("Tempelkan Kartu RFID anda : "))

Tempelkan Kartu RFID anda : 188500083

In [56]:
df[(df.Id == serialpasien)]

          Id      Data_Gambar
1  188500083  Irgi Zanuar.jpg

In [68]:
z = print(df['Data_Gambar'].where(df.Id == serialpasien))

0                NaN
1    Irgi Zanuar.jpg
2                NaN
3                NaN
Name: Data_Gambar, dtype: object

In [58]:
print(df.loc[df['Data_Gambar'].isin([df.Id == serialpasien])])

Empty DataFrame
Columns: [Id, Data_Gambar]
Index: []

NameError: name 'Index' is not defined

In [65]:
print(df.index)

RangeIndex(start=0, stop=4, step=1)