In [1]:
import pandas as pd

In [5]:
df = pd.read_csv("https://docs.google.com/spreadsheets/d/1ja8NXuQgRO7XPEB9WxfFf48ESaRzjgI335N4687kWFA/export?format=csv")

In [6]:
print(df)

      Id_rfid   Nama_pasien
0   412351243   Irgi Zanuar
1  6134634563  Adinda Panca

In [11]:
serial_pasien = int(input("Tempelkan kartu rfid anda : "))

Tempelkan kartu rfid anda : 412351243

In [12]:
df[(df.Id_rfid == serial_pasien)]

     Id_rfid  Nama_pasien
0  412351243  Irgi Zanuar